.headline {
  font-size: 0.9rem;
  color:#909090;
  margin-top:0px !important;
  margin-bottom:0px !important;
}
.headline .left {
  float:left;
}
.headline .right {
  float:right;
}
.headline img {
	border:0 !important;
}

a.catlink {
  color: #909090 !important;
}

.post h1.subtitle {
	font-size: 32px;
}

.post h2 {
  margin-top:50px;
}

.page .content p a,
.post .content p a {
	text-decoration:underline;
}

ul.posts {
  list-style: none;
  padding-left:0;
}

ul.posts li {
  clear:left;
  height:100%;
  margin-bottom:35px;
	margin-top:20px;
}

ul.posts li div {
  /*margin-top:20px;
  margin-bottom:20px;*/
}

ul.posts li p {
  margin-bottom:3px;
}

ul.posts li div.date {
  font-size:0.8rem;
  color:#999;
}


ul.posts li div.title {
  font-size:1.1rem;
}

ul.posts li div.logo a img {
	border:0;
}

ul.posts li div img {
  position:relative;
  top:5px;
  border:thin solid #454545;
  float:left;
  width:auto;
  margin-right:20px;
  max-width:150px;
  max-height:120px;
}

div.postlogo {
	position:relative;
	top:0px;
	float:right;
	margin-left:20px;
}

div.postlogo img {
  border:0;
  max-width: 150px;
  max-height: 150px;
}

div.postlogo div.legal {
	font-size: 8px;
	text-align:right;
}

table {
  border-collapse: collapse;
  margin-bottom:20px;
}

table td {
  padding-right:20px;
}
 table > thead > tr  {
   padding-top:3px;
   padding-bottom: 1px;
   border-top:thin solid #454441;
   border-bottom:thin solid #454441;
 }
 table > tbody > tr:last-child {
   border-bottom:thin solid #454441;
   padding-bottom:1px;
 }

/**
 * print view
 */

.masthead-inner h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

@media print {
  body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 10pt !important;
    widows: 5;
    orphans: 5;
  }

  .masthead {
    display:none;
  }

  .container {
    margin-left: 0in;
    margin-right: 0in;
	width:95%;
  }

  .postlogo {
    display:none;
  }

  p {
    text-align:justify;
  }

  div.content {
     a {
       text-decoration: underline !important;
     }
  
  }

  @page {
    width:6.3in;
    margin-left: 1in;
    margin-right: 1in;
    margin-top:1.5in;
  }
}
