<li lang="{{ post.lang }}">
  {% if post.logo %}<div class="logo"><a href="{{ post.url }}"><img src="{{ post.logo.url }}" alt="{{ post.title }}" /></a></div>{% endif %}
  <div class="headline">
    {% if post.phase %}
    <div class="left"><a href="{{site.baseurl}}/{{post.phase}}/"><img src="{{site.baseurl}}/assets/generic/phase1-green.svg" alt="Phase {{post.phase}}"/></a></div>
    {% endif %}
    <div class="left">
    {% if post.categories[0] %}
       {% include categories.html categories=post.categories %} •
    {% endif %}
    </div>
    <div class="right">{{ day }}{{ sup }} {{ month }} {{ year }}</div>
  </div>
  <div class="title" style="clear:right;"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
  
  
  <p>{{ post.excerpt | markdownify }}</p>
  <div style="clear:left;">&nbsp;</div>
</li>
