<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
		<p>{{ site.tagline }}</p>

        <div class="colophon">
          <ul class="colophon-links">
			<li><a href="{% link overview.md %}">Overview</a></li>
			<li><a href="{% link _posts/2018-05-23-call-for-participation.md %}">Call for Participation</a></li>
			<li><a href="{% link _posts/2017-10-01-howto-annotation.md %}">Howto: Guidelines</a></li>
			<li><a href="{% link 1/corpus.md %}">Corpus</a></li>
			  
            {% assign page_list = site.pages | sort: 'index' | where: "add_to_menu","true" %}
            {% for page in page_list %}
			{% if page.indent %}
			<li style="margin-left:{{page.indent}}em;">
			{% else %}
            <li>
			{% endif %}
              <a href="{{ page.url }}">
                {% if page.mtitle %}
                {{ page.mtitle }}
                {% else %}
                {{ page.title }}
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
